body {
  background-color: orange;
}
#mainContainer{
  background-color: black;
  height: 600px;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
}

#trashBin{
  /* background-color: green; */
  width: 200px;
  height: 200px;
  margin-top: 520px;
  margin-left: 20px;
  float: left;
  z-index: 2;
}
