body {
  background-color: #00AAB3;
}

/*GameDescription properties*/
#gameDescription {
  font-family: 'Arial', sans-serif;
  font-size: 1.5vw;
  background-color: #00AAB3;
  line-height: 30px;
  color: white;
  width: 52.5%;
  padding: 10px;
  position: absolute;
  text-align: center;
  margin-top: 11vw;
  margin-left: -10px;
}

/*PlayButton properties*/
#playButton {
  font-family: 'Arial', sans-serif;
  font-size: 2vw;
  background-color: #00AAB3;
  color: white;
  width: 10%;
  padding: 10px;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  margin-top: 20vw;
  margin-left: 305px;
}

/*MainContainer properties*/
#mainContainer {
  background-image: url("../assets/images/background2.jpg");
  background-size: cover;
  height: 550px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
}

/*TrashBin properties*/
#trashBin {
  width: 200px;
  height: 200px;
  margin-top: 500px;
  margin-left: 20px;
  float: left;
  z-index: 2;
}

/*Timer properties*/
#timer {
  font-size: 30px;
  float: right;
  margin-right: 25vw;
  font-family: 'calibri', sans-serif;
}
