body {
}

h3 {
  background-color: #00BFBF;
  width: 21vw;
  padding: 20px;
  border-radius: 20px;
}

#secretCounter {
  margin-left: 5vw;
  font-size: 2em;
  font-family: 'Corbel';
}

.container {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
p {
  font-size: 1.5em;
  font-family: 'calibri';
}
.redacted {
  background-color: white;
  color: transparent;
}
.revealed {
  background-color: transparent;
  color: red;
}
.secret {
  color: black;
  font-family: 'Arial', sans-serif;
}
.found {
  background-color: Orange;
}
