body {
  display: contents;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-container {
  margin: auto;
  margin-top: 3vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#template-container {
  margin: auto;
  margin-top: -3vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.puzzleScreen {
  display: table;
  width: 60vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.row {
  width: 75vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.column {
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  float: left;
}

.demo, .item {
  display: table;
  margin-top: 0.4vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.content-slider {
  float: left;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* overflow: hidden; */
}

li {
  background-color: white;
  position: relative;
  display: block;
  border: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 9px 9px 4px grey;
}

.arrowright, .arrowleft {
  background-color: lightgreen;
  display: block;
  width: 3vw;
  margin: auto;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 25px;
}
