body {
  display: contents;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-container {
  display: table;
  width: 60vw;
  margin: auto;
  margin-top:  3vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.row1, .row2, .row3, .row4, .row5{
  display: inline-table;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.row2, .row3, .row4, .row5{
  margin-top: -4.8vw;
}
 
.rowProperties {
    width:10vw;
    float:left;
    display: table;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    z-index: 2;
}

#template-container {
  margin: auto;
  margin-top: -3vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.puzzleScreen {
  display: table;
  width: 60vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
}

.row{
  position: absolute;
  width: 75vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.innerRow{
  position: absolute;
  width: 60vw;
  height: 45vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.column {
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  float: left;
}

.item {
  display: table;
  margin-top: 1.5vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.content-slider {
  float: left;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* overflow: hidden; */
}

li {
  background-color: white;
  position: relative;
  display: block;
  border: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 9px 9px 4px grey;
}

.arrowTop, .arrowBottom {
  background-color: lightgreen;
  display: block;
  width: 3vw;
  margin: auto;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 25px;
}
